---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout title="ASESORES EN COMERCIO GT S.A.C. | Sectores" active="industries">
  <PageHero
    title="Sectores"
    breadcrumbLabel="Sectores"
    backgroundImage="/assets/images/hero_bg_1.jpg"
  />

    
  
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_1.jpg" alt="Image" class="img-fluid" fetchpriority="high" decoding="sync">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">Agroindustria</h3>
                <p class="px-5">Exportaciones con control de tiempos y calidad.</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_2.jpg" alt="Image" class="img-fluid" fetchpriority="high" decoding="sync">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">Retail</h3>
                <p class="px-5">Reposici&oacute;n r&aacute;pida y control de inventario.</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_3.jpg" alt="Image" class="img-fluid" loading="lazy" decoding="async">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">Manufactura</h3>
                <p class="px-5">Materias primas y repuestos con planificaci&oacute;n.</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_4.jpg" alt="Image" class="img-fluid" loading="lazy" decoding="async">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">Proyectos especiales</h3>
                <p class="px-5">Maquinaria y carga sobredimensionada.</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_5.jpg" alt="Image" class="img-fluid" loading="lazy" decoding="async">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">Farmac&eacute;utico</h3>
                <p class="px-5">Carga sensible con manejo documentario.</p>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="unit-1 text-center">
              <img src="/assets/images/img_1.jpg" alt="Image" class="img-fluid" loading="lazy" decoding="async">
              <div class="unit-1-text">
                <h3 class="unit-1-heading">E-commerce</h3>
                <p class="px-5">Consolidaci&oacute;n y entregas agilizadas.</p>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-travel"></span></div>
              <div>
                <h3>Importaci&oacute;n y exportaci&oacute;n</h3>
                <p>Planificaci&oacute;n de rutas, costos y documentaci&oacute;n.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-sea-ship-with-containers"></span></div>
              <div>
                <h3>Carga mar&iacute;tima</h3>
                <p>Coordinaci&oacute;n FCL/LCL y salidas programadas.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
              <div>
                <h3>Carga terrestre</h3>
                <p>Retiro, entrega y seguimiento local.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-barn"></span></div>
              <div>
                <h3>Aduanas y permisos</h3>
                <p>Gesti&oacute;n normativa y tr&aacute;mites especializados.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-platform"></span></div>
              <div>
                <h3>Almacenaje</h3>
                <p>Custodia y control de inventario.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-car"></span></div>
              <div>
                <h3>Distribuci&oacute;n final</h3>
                <p>Entregas coordinadas y &uacute;ltima milla.</p>
                <p><a href="/contact">Ver detalle</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
</BaseLayout>
