---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
---

<BaseLayout title="ASESORES EN COMERCIO GT S.A.C. | Tarifario" active="">
  <PageHero
    title="Tarifario"
    breadcrumbLabel="Tarifario"
    backgroundImage="/assets/images/hero_bg_5.jpg"
  />

  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="bg-white p-4 p-md-5 text-center">
            <img src="/assets/images/tarifario.jpg" alt="Tarifario" class="img-fluid" loading="lazy" decoding="async">
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
