<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Enlaces</h2>
            <ul class="list-unstyled">
              <li><a href="/about">Nosotros</a></li>
              <li><a href="/services">Servicios</a></li>
              <li><a href="/industries">Sectores</a></li>
              <li><a href="/contact">Contacto</a></li>
              <li><a href="/complaints-book">Libro de reclamaciones</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Servicios</h2>
            <ul class="list-unstyled">
              <li><a href="/services">Transporte a&eacute;reo</a></li>
              <li><a href="/services">Transporte mar&iacute;timo</a></li>
              <li><a href="/services">Transporte terrestre</a></li>
              <li><a href="/services">Aduanas y seguros</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Soporte</h2>
            <ul class="list-unstyled">
              <li><a href="/quotation">Cotizaciones</a></li>
              <li><a href="/contact">Asesor&iacute;a personalizada</a></li>
              <li><a href="/contact">Atenci&oacute;n 24/7</a></li>
              <li><a href="/contact">Seguimiento de embarques</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">S&iacute;guenos</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;2026 All rights reserved </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
