---
const { } = Astro.props;
---
<div class="site-section border-bottom">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary" data-aos="fade">Nuestro equipo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person">
              <img src="/assets/images/person_2.jpg" alt="Image" class="img-fluid rounded mb-5" fetchpriority="high" decoding="sync">
              <h3>Andrea Vargas</h3>
              <p class="position text-muted">Gerencia de Operaciones</p>
              <p class="mb-4">Coordina la planificaci&oacute;n log&iacute;stica y los procesos de importaci&oacute;n y exportaci&oacute;n.</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person">
              <img src="/assets/images/person_3.jpg" alt="Image" class="img-fluid rounded mb-5" loading="lazy" decoding="async">
              <h3>Gabriel P&eacute;rez</h3>
              <p class="position text-muted">Asesor Comercial</p>
              <p class="mb-4">Acompa&ntilde;a a clientes en cotizaciones, rutas y costos eficientes.</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="person">
              <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid rounded mb-5" loading="lazy" decoding="async">
              <h3>Mar&iacute;a L&oacute;pez</h3>
              <p class="position text-muted">Atenci&oacute;n al Cliente</p>
              <p class="mb-4">Brinda seguimiento constante y soporte durante todo el embarque.</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>